/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F7F7F7;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  margin-top: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.jumbotron .main-button {
  padding: 14px 24px;
  font-size: 21px;
  margin-bottom: 4px;
  margin-right: 6px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.current-price-massive {
  font-size: 600% !important;
}

@media (min-width: 1000px) {
  .current-price-massive {
    font-size: 900% !important;
  }
}

.btn-custom {
  background-color: #53B981;
  color: white;
}

.btn-custom:hover, .btn-custom:active {
  background-color: #53C781;
  color: white;
}

.a-custom {
  color: #53B981;
}

.a-custom:hover, .a-custom:active, .a-custom:link, .a-custom:visited {
  color: #53C781;
  text-decoration: none;
}

.prediction-search-result {
  font-size: 130%;
  text-align: left;
  margin-bottom: 8px;
}

h2 .symbol {
  color: #286090;
  font-size: 130%;
}

.symbol-dropdown {
  font-size: 180%;
  height: 180%;
  width: 90%;
  margin-left: 5%;
}

#prediction-sentence p {
  text-align: left;
}

@media (min-width: 768px) {
  #prediction-sentence p {
    text-align: center;
  }

  #p-predictor {
    margin-left: 15%;
    width: 70%
  }

}

.chart-time-interval-button {
    font-size: 90%;
    padding: 2px 4px;
    margin-bottom: 6px;
}

.selected-chart-time-interval {
    border-style: solid;
    border-width: 3px;
    border-color: #FF6600; 
}

@media (max-width: 768px) {
  /* margins for on mobile */
  .jumbotron p {
    padding: 4px 10px;
  }
}



